.wrapper {
  width: 100%;
  margin-bottom: 24px;

  & > .input {
    width: 100%;
    height: 44px;
    text-indent: 16px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter";
    border-radius: 5px;
    border: 1px solid var(--input-border-color);

    &:not(:focus).error {
      border-color: var(--red);
    }

    &:focus {
      outline: 2px solid var(--blue) !important;
    }
  }

  & > .errorText {
    margin-top: 8px;
    font-size: 14px;
    color: var(--red);
  }
}
