.langSelect {
  position: relative;
  display: flex;
  margin-left: 8px;

  & > .selectedLang {
    display: flex;
    align-items: center;
    cursor: pointer;
 
    padding: 4px 8px;

    & > .globeIcon {
      fill: #ffffff;
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    & > .selectedLangText {
      
      font-size: 14px;
    }
  }

  & > .langList {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
    display: none;
    margin-top: 4px;
    border-radius: 6px;
    overflow: hidden;

    &.show {
      display: block;
    }

    & > .langItem {
  
     

      &.selected {
        background-color: #2d98da;
        color: #fff;
      }

      & > .langItemContent {
        display: inline-block;
        padding: 8px 16px;
      }
    }
  }
}
