.contactSection {
  max-width: 1328px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 64px;

  & > .title {
    color: var(--purple);
    font-weight: 500;
    font-size: 24px;

    margin-bottom: 32px;
    width: 100%;
  }

  & > .contactWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > .infoContainer {
      width: calc(40% - 16px);
      padding: 32px;
      box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
      border-radius: 10px;
      background-color: var(--bg-secondary);

      & > .infoImage {
        width: 100%;
        border-radius: 6px;
        margin-bottom: 32px;
      }

      & > .infoName {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 6px;
      }

      & > .infoJob {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 24px;
      }

      & > .infoText {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 32px;
      }

      & > .connectTitle {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 16px;
      }

      & > .connectList {
        display: flex;
        justify-content: space-between;

        & > .connectItem {
          & > .connectItemContent {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;

            &:hover {
              & > img {
                scale: 1.5;
              }
            }

            & > img {
              width: 32px;
              height: 32px;
              transition: scale 0.3s;
            }
          }
        }
      }
    }

    & > .contactForm {
      display: flex;
      flex-direction: column;
      width: calc(60% - 16px);
      box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
      border-radius: 10px;
      background-color: var(--bg-secondary);
      padding: 32px;

      & > .contactTitle {
        margin-bottom: 24px;

        font-weight: 600;
      }

      & > .label {
        margin-bottom: 8px;
        font-weight: 300;

        font-size: 16px;
      }

      & > .input {
        margin-bottom: 24px;
        width: 100%;
        height: 44px;
        text-indent: 16px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Inter";
        outline-color: var(--blue);
        border-radius: 5px;
        border: 1px solid var(--input-border-color);
      }

      & > .textarea {
        resize: vertical;
        border-radius: 5px;
        border: 1px solid var(--input-border-color);
        outline-color: var(--blue);
        font-size: 16px;
        font-weight: 500;
        font-family: "Inter";
        padding: 16px;
        margin-bottom: 24px;
        height: 200px;
      }

      & > .submitButton {
        height: 48px;
        border-radius: 6px;
        border: none;
        background-color: var(--purple);
        color: #fff;
        font-weight: 600;
        font-family: "Inter";
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
