:root[theme="dark"] {
  --bg-primary: #121212;
  --text-primary: #fff;

  color-scheme: dark;
}

:root[theme="light"] {
  --bg-primary: #ffff;
  --text-primary: #000;
  --boder-color-primary: #000;

  color-scheme: light;
}
