.themeSelect {
  position: relative;
  display: flex;
  margin-left: 32px;

  & > .selectedTheme {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 4px 8px;

    & > .themeIcon {
      fill: #ffffff;
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    & > .selectedThemeText {
     
      font-size: 14px;
    }
  }

  & > .themeList {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
    display: none;
    margin-top: 4px;
    border-radius: 6px;
    overflow: hidden;

    &.show {
      display: block;
    }

    & > .themeItem {
      padding: 8px 16px;
     
      cursor: pointer;

      &.selected {
        background-color: #2d98da;
        color: #fff;
      }
    }
  }
}
